<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Material Design for Bootstrap</title>
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
 
  <link rel="stylesheet" href="css/mdb.min.css" />
 
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <header>
   
    <style>
      #intro {
      
        margin-top: 58px;
      }

      @media (max-width: 991px) {
        #intro {
          
          margin-top: 45px;
        }
      }
    </style>

    
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
      
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="#intro">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 
  </header>


 
  <main class="my-5 pt-5">
    <div class="container">
   
      <section class="text-center">
        <h4 class="mb-5"><strong>Últimos posts</strong></h4>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Luz nas Entranhas da Terra</h5>
                <p class="card-text">
                  Um espetáculo natural de luz e sombra esculpido pelo tempo. Cada curva do cânion revela a arte silenciosa da natureza.
                </p>
                <a href="#!" class="btn btn-primary">Leia +</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Outono à Beira do Rio</h5>
                <p class="card-text">
                Entre folhas douradas e águas serenas, a natureza revela sua calma e beleza em cada detalhe da estação.
                </p>
                <a href="#!" class="btn btn-primary">Leia +</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">O Abraço do Amanhecer</h5>
                <p class="card-text">
                  O sol toca o mar com delicadeza, enquanto as ondas desenham poesia na areia. Um convite à paz logo no nascer do dia.
                </p>
                <a href="#!" class="btn btn-primary">Leia +</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/002.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Silêncio no Horizonte</h5>
                <p class="card-text">
                 Entre pedras e marés, o sol se despede com calma. Um fim de tarde que fala mais com o coração do que com palavras.
                </p>
                <a href="#!" class="btn btn-primary">Leia +</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/022.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Ouro nas Montanhas</h5>
                <p class="card-text">
                A luz dourada do entardecer revela a beleza serena das colinas. Um cenário que convida à contemplação e ao silêncio.
                </p>
                <a href="#!" class="btn btn-primary">Leia +</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/035.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Cortes do Tempo</h5>
                <p class="card-text">
                  Cada anel guarda uma história, cada lasca revela o ciclo da vida. A madeira empilhada carrega o silêncio das florestas e o calor de um novo começo.
                </p>
                <a href="#!" class="btn btn-primary">Leia +</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    </div>
  </main>
 
  </footer>
  
  <script type="text/javascript" src="js/mdb.min.js"></script>
 
  <script type="text/javascript" src="js/script.js"></script>
</body>

</html>