{% extends "base.html" %}

{% load static %}

{% block body %}
<h1>Questões cadastradas:</h1>
{% for pergunta in perguntas_template %}
    <h3> {{ pergunta.texto }} </h3>
    <p> Publicada em: {{ pergunta.data_pub|date:'d/m/Y H:i:s' }} </p>
    <p>
        <a href="{% url 'detalhe' pergunta.id %}"> Ver detalhes </a>
    </p>
    <p>
        <a href="{% url 'resultado' pergunta.id %}"> Ver resultado </a>
    </p>
    <p>
        <a href="{% url 'votar' pergunta.id %}"> Votar </a>
    </p>

{% endfor %}
{% endblock body %}